<div class="card">
  <div class="card-body msg_card_body">
    <%= form_for(@chat, remote: true) do |f| %>

      <div class='form-outline'>
        <%= f.text_area :message, autofocus: true, class: 'form-control msg_container_send', placeholder: 'talk here...' %>
        <span class="msg_time_send"></span>
      </div>
    
      <%= f.submit "send", id: 'submit', class: 'btn btn-light btn-lg btn-rounded justify-content-right mt-3' %>
    <% end %>
  </div>
</div>
