<div class='container h-75' id='chat-chatbot'>
  <div class="row justify-content-left">
    <div id='chatbox' class="col w-50 chat">
      <%= render 'layouts/chatbot' %>
    </div>
  </div>
</div>
<div class='container fixed-bottom'>
  <div class="row justify-content-left">
    <div class="col">
      <%= render 'form' %>
    </div>
  </div>
</div>
