<div class='container' id='chat-chatbot'>
  <div class="row justify-content-left">
    <div id='chatbox' class="col-6 w-50 chat">
      <%= render 'layouts/chatbot' %>
    </div>
  </div>
</div>
<div class='container'>
  <div class="row justify-content-left">
    <div class="col-6 w-75">
      <%= render 'form' %>
    </div>
  </div>
</div>
